@tailwind base;
@tailwind components;
@tailwind utilities;

header{
  transition: top 0.3s;
}

.texto-2quadros{
  width: 100%;
}

@media (min-width:600px) and (max-width:1024px) {
  .texto-2quadros{
    width: 600px;
  }
}

@media (min-width:1024px) and (max-width:1536px) {
  .texto-2quadros{
    width: 400px;
  }
}
@media (min-width:1536px) {
  .texto-2quadros{
    width: 550px;
  }
}

#mobileMenu{
  transition: width 0.5s, height 0.5s;
}

body{
  font-family: "EB Garamond", serif;
  color: #bdbdbd;
}

h1{
  font-family: "EB Garamond", serif;
  color:#ffffff;
  font-weight: bold;
}

h2{
  text-transform: uppercase;
}

.h1-quadros{
  color:#B36F32;
}

.h2-2quadros{
  padding: 10px 0;
  font-weight: bold;
}

.lista-formacao{

  color: #bdbdbd;
}

.blue-bg{
  background-color: #082C51;
}

.green-bg{
  background-color: #3F4C3B;
}

.brown-text{
  color:#BF987E
}

.blue-text{
  color: #082C51;
}

.gray-bg{
  background-color: #DAD5D7;
}

p{
  padding-bottom:4px;
}

html { scroll-behavior: smooth; }

@media  (max-width:768px) {
  .card-agendar{
    width: 100vw;
    gap:10px;
    height: 400px;
  }
  .card-agendar-1{
    border-bottom: 1px solid rgb(179, 179, 179);
  }
  h1{
    font-size: 30px;
  }
}

@media (min-width:768px) and (max-width:1024px){
  .card-agendar{
    width: 470px;
    height: 300px;
    gap:10px;
  }
  .div-cards-agendar{
    margin-top: -70px;
    margin-bottom: 70px;
  }
  .card-agendar-1{
    border-bottom: 1px solid rgb(179, 179, 179);
  }
  h1{
    font-size: 40px;
  }
}

@media (min-width:1024px) {
  .card-agendar{
    width: 400px;
    height: 450px;
    gap:30px;
  }
  .div-cards-agendar{
    margin-top: -70px;
    margin-bottom: 70px;
  }
  .card-agendar-1{
    border-right: 1px solid black;
  }
  h1{
    font-size: 20px;
  }
}


.navbar-link:hover {
  color:#BF987E;
  transition: 0.4s;
}

.navbar-link{
  color:#ffffff;
  transition: 0.4s;
}


.main-button{
  background-color: #d1d1d1;
  transition: 0.4s;
}

.main-button:hover{
  background-color: #082C51;
  transition: 0.4s;
}

.main-button-green{
  background-color: #d1d1d1;
  transition: 0.4s;
}

.main-button-green:hover{
  background-color: #3F4C3B;
  transition: 0.4s;
}

.agendar-button{
  color:#d1ad6a;
  transition: 0.4s;
  font-weight: bold;
}

.agendar-button:hover{
  color:#55290c;
  transition: 0.4s;
  font-weight: bold;
}
